.about {
    position: relative;
    padding-top: 128px;
}

.about .about-img-wrapper {
    width: 100%;
    z-index: 1;
    pointer-events: none;
}

.about .about-img {
    width: 100%;
    object-fit: cover;
}

.about .about-text-content {
    position: absolute;
    color: white;
    z-index: 2;
    top: 62%;
    left: 0;
    right: 0;
    transform: translateY(-62%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .section-heading {
    color: var(--color-white);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 48px;
    font-weight: var(--fw-bold);
    line-height: 38px;
    margin-bottom: 32px;
}

.about .section-description {
    width: 100%;
    max-width: 1094px;
    color: var(--color-white);
    text-align: center;
    font-family: var(--primary-font);
    /* figma size 38 increased to 40 */
    font-size: 40px;
    font-weight: var(--fw-bold);
    line-height: 38px;
    transition: all .3s ease-in-out;
}

@media (max-width: 1439px) {
    .container {
        max-width: 1300px;
    }
}

/* Large devices (≤1200px) */
@media (max-width: 1201px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width:1024px) {
    .container {
        max-width: 884px;
    }

    .about .section-description {
        /* figma size 38 increased to 40 */
        font-size: 41px;
    }
}

/* Medium devices (≤992px) */
@media (max-width: 993px) {
    .container {
        max-width: 720px;
    }
}

/* Small devices (≤768px) */
@media (max-width: 769px) {
    .container {
        max-width: 500px;
    }
}

/* Extra small devices (≤430px) */
@media (max-width: 525px) {
    .container {
        max-width: 360px;
        margin: 0 auto;
    }

    .about .section-heading {
        font-size: 30px;
        line-height: 38px;
    }

    .about .section-description {
        font-size: 24px;
        line-height: 32px;
    }

}