/* .banner {
    position: relative;
    background-image: url('../images/banner-img-resized.webp');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.banner {
    position: relative;
}

.banner .banner-text-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 267px;
}

.banner .section-heading {
    font-family: var(--primary-font);
    text-align: center;
    font-size: 80px;
    font-weight: var(--fw-bold);
    line-height: 110%;
    margin-bottom: 40px;
    max-width: 749px;
}

.banner .section-description {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 40px;
    max-width: 803px;
}

.banner .banner-btns {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.banner .start-travel {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: var(--fw-regular);
    line-height: 100%;
    letter-spacing: 0.32px;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--bg-primary);
    padding: 14px 32px;
    border-radius: 8px;
    margin-bottom: 12px;
    transition: all .3s ease-in-out;
}

.banner .start-travel:hover {
    transform: translateY(-3px);
}

.banner .watch-video {
    color: var(--bg-primary);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: var(--fw-bold);
    line-height: 100%;
    letter-spacing: 0.32px;
    text-decoration: none;
    padding: 14px 24px;
    display: flex;
    align-items: center;
    margin-bottom: 139px;
}

.banner .watch-video:hover .right-arrow-svg{
    transform: rotate(360deg);
}

.banner .right-arrow-svg {
    margin-left: 8px;
    transition: all .2s ease-in-out;
}

.banner .right-arrow-svg .right-arrow-stroke{
    stroke: #8B5CF6;
}

.banner .banner-card-wrapper {
    display: flex;
    padding: 128px 0;
    margin: -7.5px;
}

.banner .banner-card {
    background-color: var(--bg-black);
    display: flex;
    padding: 48px 32px;
    border-radius: 10px;
    width: 100%;
    max-width: 486px;
    margin: 7.5px;
}

.banner .banner-icon-img {
    padding: 10px;
}

.banner .banner-card-content {
    margin-left: 10px;
}

.banner .banner-card-heading {
    color: var(--color-white);
    font-family: var(--primary-font);
    font-size: 38px;
    font-weight: var(--fw-bold);
    line-height: 38px;
    margin-bottom: 10px;
}

.banner .banner-card-description {
    color: var(--color-white);
    font-family: var(--secondary-font);
    font-size: 24px;
    font-style: normal;
    font-weight: var(--fw-regular);
    line-height: 28px;
    max-width: 322px;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1300px;
    }
}

@media (max-width:1300px) {
    .container {
        max-width: 1250px;
    }
}

/* Large devices (≤1200px) */
@media (max-width: 1201px) {
    .container {
        max-width: 960px;
    }

    .banner .banner-card-heading {
        font-size: 34px;
        line-height: 38px;
    }

    .banner .banner-card-description {
        font-size: 14px;
        line-height: 28px;
    }
}

@media (max-width:1025px) {
    .container {
        max-width: 865px;
    }

    .banner .banner-card-wrapper {
        margin: 48px 0;
        padding: 0px;
    }

    .banner .banner-card {
        width: 100%;
        max-width: 100%;
        margin: 0px;
        margin-bottom: 15px;
    }

}

/* Medium devices (≤992px) */
@media (max-width: 993px) {
    .container {
        max-width: 720px;
    }
}

/* Small devices (≤768px) */
@media (max-width: 769px) {
    .container {
        max-width: 500px;
    }

    .banner .section-heading {
        font-size: 43px;
        line-height: 100%
    }

    .banner .section-description {
        font-size: 25px;
    }

    .banner .banner-card-heading {
        font-size: 30px;
    }

    .banner .banner-card-description {
        font-size: 20px;
        line-height: 26px;
    }
}

/* Extra small devices (≤430px) */
@media (max-width: 525px) {
    .container {
        max-width: 360px;
        margin: 0 auto;
    }

    .banner .section-heading {
        font-size: 38px;
        line-height: 100%
    }

    .banner .section-description {
        max-width: 100%;
        font-size: 20px;
        line-height: 130%;
    }

    .banner .watch-video {
        margin-bottom: 94.5px;
    }

}