.banner {
    position: relative;
    /* background-image: url('../images/banner-img-resized.webp');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.banner .banner-text-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16.6875rem;
}

.banner .section-heading {
    font-family: var(--primary-font);
    text-align: center;
    font-size: 5rem;
    font-weight: var(--fw-bold);
    line-height: 110%;
    margin-bottom: 2.5rem;
    max-width: 46.8125rem;
}

.banner .section-description {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 2.5rem;
    max-width: 50.1875rem;
}

.banner .banner-btns {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.banner .start-travel {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: var(--fw-regular);
    line-height: 100%;
    letter-spacing: 0.02rem;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--bg-primary);
    padding: 0.875rem 2rem;
    border-radius: 0.5rem;
    margin-bottom: 0.75rem;
    transition: all .3s ease-in-out;
}

.banner .start-travel:hover {
    transform: translateY(-0.1875rem);
}

.banner .watch-video {
    color: var(--bg-primary);
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: var(--fw-bold);
    line-height: 100%;
    letter-spacing: 0.02rem;
    text-decoration: none;
    padding: 0.875rem 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 8.6875rem;
}

.banner .watch-video:hover .right-arrow-svg{
    transform: rotate(360deg);
}

.banner .right-arrow-svg {
    margin-left: 0.5rem;
    transition: all .2s ease-in-out;
}

.banner .right-arrow-svg .right-arrow-stroke{
    stroke: #8B5CF6;
}

.banner .banner-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 8rem 0;
    margin: -0.4688rem;
}

.banner .banner-card {
    background-color: var(--bg-black);
    display: flex;
    padding: 3rem 0;
    border-radius: 0.625rem;
    width: 100%;
    max-width: 30.375rem;
    margin: 0.4688rem;
}

.banner .banner-card-icon{
    margin-left: 2rem;
}

.banner .banner-icon-img {
    padding: 0.625rem;
}

.banner .banner-card-content {
    margin-left: 0.625rem;
}

.banner .banner-card-heading {
    color: var(--color-white);
    font-family: var(--primary-font);
    font-size: 2.375rem;
    font-weight: var(--fw-bold);
    line-height: 2.375rem;
    margin-bottom: 0.625rem;
}

.banner .banner-card-description {
    color: var(--color-white);
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: var(--fw-regular);
    line-height: 1.75rem;
    max-width: 20.125rem;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1300px;
    }
}

@media (max-width:1300px) {
    .container {
        max-width: 1250px;
    }
}

/* Large devices (≤1200px) */
@media (max-width: 1201px) {
    .container {
        max-width: 960px;
    }

    .banner .banner-card-heading {
        font-size: 2.125rem;
        line-height: 2.375rem;
    }

    .banner .banner-card-description {
        font-size: 0.875rem;
        line-height: 1.75rem;
    }
}

@media (max-width:1025px) {
    .container {
        max-width: 865px;
    }

    .banner .banner-card-wrapper {
        margin: 3rem 0;
        padding: 0px;
    }

    .banner .banner-card {
        width: 100%;
        max-width: 100%;
        margin: 0px;
        margin-bottom: 0.9375rem;
    }

}

/* Medium devices (≤992px) */
@media (max-width: 993px) {
    .container {
        max-width: 720px;
    }
}

/* Small devices (≤768px) */
@media (max-width: 769px) {
    .container {
        max-width: 500px;
    }

    .banner .section-heading {
        font-size: 2.6875rem;
        line-height: 100%
    }

    .banner .section-description {
        font-size: 1.5625rem;
    }

    .banner .banner-card-heading {
        font-size: 1.875rem;
    }

    .banner .banner-card-description {
        font-size: 1.25rem;
        line-height: 1.625rem;
    }
}

/* Extra small devices (≤430px) */
@media (max-width: 525px) {
    .container {
        max-width: 360px;
        margin: 0 auto;
    }

    .banner .section-heading {
        font-size: 2.375rem;
        line-height: 100%
    }

    .banner .section-description {
        max-width: 100%;
        font-size: 1.25rem;
        line-height: 130%;
    }

    .banner .watch-video {
        margin-bottom: 5.9063rem;
    }

}