@media (max-width: 1439px) {
    .container {
        max-width: 1300px;
    }
}

/* Large devices (≤1200px) */
@media (max-width: 1201px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width:1025px) {
    .container {
        max-width: 884px;
    }
}

/* Medium devices (≤992px) */
@media (max-width: 993px) {
    .container {
        max-width: 720px;
    }
}

/* Small devices (≤768px) */
@media (max-width: 769px) {
    .container {
        max-width: 500px;
    }
}

/* Extra small devices (≤430px) */
@media (max-width: 525px) {
    .container {
        max-width: 360px;
        margin: 0 auto;
    }
}