.dark {
    header {
        background-color: var(--color-black);
        transition: all 0.3s ease-in-out;
    }

    .scroll-btn {
        color: var(--dark-bg-primary);
    }

    .logo-svg .logo-fill {
        fill: var(--color-white);
    }

    .brand-title {
        color: var(--color-white);
    }

    header .nav-link {
        color: var(--color-white);
    }

    header aside {
        background-color: var(--dark-bg-primary);
    }

    header .mobile-dark-mode-btn {
        border: 0.0625rem solid var(--bg-primary);
    }


    header aside .mobile-nav-link {
        color: var(--color-black);
    }

    header .menu-line {
        background-color: var(--color-white);
    }

    .contact-us {
        background-color: var(--dark-bg-primary);
        color: var(--bg-primary) !important;
        border: 0.0625rem solid var(--dark-bg-primary);
    }

    .mode-svg .mode-fill {
        fill: var(--color-white);
    }

    .banner .banner-text-content {
        color: var(--color-white);
    }

    .banner .right-arrow-svg .right-arrow-stroke {
        stroke: var(--dark-bg-primary);
    }

    .courses .section-heading,
    .courses .course-title,
    .courses .teacher,
    .courses .course-time {
        color: var(--color-white);
    }

    .banner .start-travel {
        background-color: var(--dark-bg-primary);
        color: var(--bg-primary) !important;
        border: 0.0625rem solid var(--dark-bg-primary);
    }

    .banner .watch-video {
        color: var(--dark-bg-primary);
    }

    .services .service-card-heading {
        color: var(--color-white);
    }

    footer .footer-heading {
        color: var(--color-white);
    }

    footer .footer-right>ul>li>a {
        color: var(--color-white);
    }

    footer .footer-item {
        border: 0.0625rem solid var(--color-white);
    }

    footer .footer-svg {
        fill: var(--color-white);
    }

    footer .linkedin-svg-fill {
        fill: var(--color-black);
    }
}