header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
    z-index: 10;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

header .hamburger-menu {
    display: none;
}

header aside {
    display: none;
    z-index: 10;
}

header .brand-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

header .brand-title {
    color: var(--color-black);
    font-family: var(--primary-font);
    font-size: 22.593px;
    font-style: normal;
    font-weight: var(--fw-bold);
    line-height: 22.5px;
    margin-left: 5.65px;
}

.logo-svg .logo-fill{
    fill : #262626;
}

header .nav-list {
    display: flex;
    align-items: center;
}

header .nav-item {
    margin-right: 20px;
}

header .nav-item:last-child {
    margin-right: 0;
}

header .nav-link {
    position: relative;
    font-family: var(--primary-font);
    color: var(--color-black);
    font-weight: var(--fw-regular);
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    line-height: 28px
}

header .nav-link::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: var(--bg-primary);
    width: 0%;
    bottom: 0;
    left: 0;
    transition: all .4s ease-in-out;
}

header .nav-link:hover::after {
    width: 100%;
}

.contact-us {
    text-decoration: none;
    font-family: var(--primary-font);
    background-color: var(--bg-primary);
    border-radius: 8px;
    padding: 14px 24px;
    color: var(--color-white) !important;
    border: 1px solid var(--bg-primary);
    transition: all .3s ease-in-out;
}

.contact-us:hover {
    background-color: transparent;
    color: var(--bg-primary) !important;
}

header .mode {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 11px;
    border: 1px solid var(--color-gray);
    border-radius: 10px;
}

.mode-svg .mode-fill{
    fill: #171717;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1300px;
    }
}

@media (max-width:1300px) {
    .container {
        max-width: 1250px;
    }
}

/* Large devices (≤1200px) */
@media (max-width: 1201px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width:1025px) {
    .container {
        max-width: 865px;
    }
}

/* Medium devices (≤992px) */
@media (max-width: 993px) {
    .container {
        max-width: 720px;
    }
}

/* Small devices (≤768px) */
@media (max-width: 768px) {
    .container {
        max-width: 500px;
    }

    header aside {
        display: block;
        position: fixed;
        top: 0;
        background-color: var(--color-white);
        height: 100%;
        width: 60%;
        transform: translateX(-100%);
        transition: all .3s ease-in-out;
    }

    header aside .mobile-nav-list {
        padding: 40px 10px;
    }

    header aside .mobile-nav-item {
        padding: 10px 0;
    }

    header aside .mobile-nav-link {
        font-family: var(--primary-font);
        font-weight: var(--fw-regular);
        color: var(--color-black);
        font-size: 20px;
        text-decoration: none;
    }

    header .mobile-contact-us {
        text-decoration: none;
        font-family: var(--primary-font);
        background-color: var(--bg-primary);
        border-radius: 8px;
        padding: 14px 24px;
        color: var(--color-white) !important;
        border: 1px solid var(--bg-primary);
        transition: all .3s ease-in-out;
    }

    header .hamburger-menu {
        position: relative;
        border: 1px solid black;
        height: 28px;
        width: 28px;
        display: flex;
    }

    header .menu-line {
        position: absolute;
        height: 2px;
        background-color: var(--color-black);
        transition: all .1s ease-in-out;
    }

    header .menu-line:first-child {
        right: 1px;
        width: 90%;
        top: 5px
    }

    header .menu-line:nth-child(2) {
        right: 1px;
        width: 50%;
        top: 10px
    }

    header .menu-line:nth-child(3) {
        right: 1px;
        width: 90%;
        top: 15px
    }

    header .menu-line:last-child {
        right: 1px;
        width: 50%;
        top: 20px
    }

    .cross .menu-line:nth-child(2),
    .cross .menu-line:last-child {
        display: none;
    }

    .cross .menu-line:first-child {
        width: 90%;
        left: 2px;
        top: 12px;
        transform: rotate(45deg);
    }

    .cross .menu-line:nth-child(3) {
        left: 2px;
        width: 90%;
        top: 13px;
        transform: rotate(-45deg);
    }

    header .nav-list {
        display: none;
    }
}

/* Extra small devices (≤430px) */
@media (max-width: 525px) {
    .container {
        max-width: 360px;
        margin: 0 auto;
    }
}