header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
    z-index: 10;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0;
    transition: all .3s ease-in-out;
}

header .hamburger-menu {
    display: none;
}

header aside {
    display: none;
    z-index: 10;
}

header .brand-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

header .brand-title {
    color: var(--color-black);
    font-family: var(--primary-font);
    font-size: 1.4121rem;
    font-style: normal;
    font-weight: var(--fw-bold);
    line-height: 1.4063rem;
    margin-left: 0.3531rem;
}

.logo-svg .logo-fill{
    fill : #262626;
}

header .nav-list {
    display: flex;
    align-items: center;
}

header .nav-item {
    margin-right: 1.25rem;
}

header .nav-item:last-child {
    margin-right: 0;
}

header .nav-link {
    position: relative;
    font-family: var(--primary-font);
    color: var(--color-black);
    font-weight: var(--fw-regular);
    text-decoration: none;
    padding: 0.625rem;
    font-size: 1.25rem;
    line-height: 1.75rem
}

header .nav-link::after {
    content: "";
    position: absolute;
    height: 0.1875rem;
    background-color: var(--bg-primary);
    width: 0%;
    bottom: 0;
    left: 0;
    transition: all .4s ease-in-out;
}

header .nav-link:hover::after {
    width: 100%;
}

.contact-us {
    text-decoration: none;
    font-family: var(--primary-font);
    background-color: var(--bg-primary);
    border-radius: 0.5rem;
    padding: 0.875rem 1.5rem;
    color: var(--color-white) !important;
    border: 0.0625rem solid var(--bg-primary);
    transition: all .3s ease-in-out;
}

.contact-us:hover {
    background-color: transparent;
    color: var(--bg-primary) !important;
}

header .mode {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0.6875rem;
    border: 0.0625rem solid var(--color-gray);
    border-radius: 0.625rem;
}

.mode-svg .mode-fill{
    fill: #171717;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1300px;
    }
}

@media (max-width:1300px) {
    .container {
        max-width: 1250px;
    }
}

/* Large devices (≤1200px) */
@media (max-width: 1201px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width:1025px) {
    .container {
        max-width: 865px;
    }
}

/* Medium devices (≤992px) */
@media (max-width: 993px) {
    .container {
        max-width: 720px;
    }
}

/* Small devices (≤768px) */
@media (max-width: 768px) {
    .container {
        max-width: 500px;
    }

    header aside {
        display: block;
        position: fixed;
        top: 0;
        background-color: var(--color-white);
        height: 100%;
        width: 60%;
        transform: translateX(-100%);
        transition: all .3s ease-in-out;
        box-shadow: rgba(135, 135, 135, 0.2) 0rem 0.5rem 1.5rem;
    }

    header aside .mobile-nav-list {
        padding: 2.5rem 0.625rem;
    }

    header aside .mobile-nav-item {
        padding: 0.625rem 0;
    }

    header aside .mobile-nav-link {
        font-family: var(--primary-font);
        font-weight: var(--fw-regular);
        color: var(--color-black);
        font-size: 1.25rem;
        text-decoration: none;
    }

    header .mobile-contact-us {
        text-decoration: none;
        font-family: var(--primary-font);
        background-color: var(--bg-primary);
        border-radius: 0.5rem;
        padding: 0.875rem 1.5rem;
        color: var(--color-white) !important;
        border: 0.0625rem solid var(--bg-primary);
        transition: all .3s ease-in-out;
    }

    header .hamburger-menu {
        position: relative;
        height: 1.75rem;
        width: 1.75rem;
        display: flex;
        cursor: pointer;
    }

    header .menu-line {
        position: absolute;
        height: 0.125rem;
        background-color: var(--color-black);
        transition: all .1s ease-in-out;
    }

    header .menu-line:first-child {
        right: 0.0625rem;
        width: 90%;
        top: 0.3125rem
    }

    header .menu-line:nth-child(2) {
        right: 0.0625rem;
        width: 50%;
        top: 0.625rem
    }

    header .menu-line:nth-child(3) {
        right: 0.0625rem;
        width: 90%;
        top: 0.9375rem
    }

    header .menu-line:last-child {
        right: 0.0625rem;
        width: 50%;
        top: 1.25rem
    }

    .cross .menu-line:nth-child(2),
    .cross .menu-line:last-child {
        display: none;
    }

    .cross .menu-line:first-child {
        width: 90%;
        left: 0.125rem;
        top: 0.75rem;
        transform: rotate(45deg);
    }

    .cross .menu-line:nth-child(3) {
        left: 0.125rem;
        width: 90%;
        top: 0.8125rem;
        transform: rotate(-45deg);
    }

    header .nav-list {
        display: none;
    }
}

/* Extra small devices (≤430px) */
@media (max-width: 525px) {
    .container {
        max-width: 360px;
        margin: 0 auto;
    }
}