/* reset css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root{
    --primary-font : 'Inter-Tight-Regular';
    --secondary-font : 'Inter-Tight-Light';

    --fw-regular : 400;
    --fw-bold : 600;

    --bg-primary: #8B5CF6; 
    --bg-black : #000;
    --dark-bg-primary : #DDD6FE;
    --bg-white : #FFF;

    --color-white : #F5F5F5;
    --color-black :#171717;
    --color-gray : #737373;

}

body{
    background-color: var(--bg-white);
    transition: all .2s ease-in-out;
}

.container{
    width: 100%;
    max-width: 1456px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid rgb(255, 183, 183);
}

#sroll-to-top-btn{
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    z-index: 10;
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

.scroll-btn{
    font-size: 3.125rem;
    color: var(--bg-primary);
}